body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 5px;
   padding: 0;
   line-height: 1.6;
   color: #333;
   background-color: #f4f4f4;
}
.logo img {
    width: 150px;
    border-radius: 10%;
    margin: 9px 9px;
}
header {
   background-color: #fff;
   padding: 1rem;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.Links, a {
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.content-1 img {
    width: 900px;
    border-radius: 25px;
    margin: 6px;

}
.contact-2 {
    background-color: rgb(9, 9, 50);
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 1.0rem;
   text-align: center;
   margin-top: 100px;
   
}
.Tel-1 img {
    width:80px;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px; 
}
.email-1 img {
      width: 80px;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px; 
}
.conatiner-1 {
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
}
.contact-2 {
    background-color: rgb(9, 9, 50);
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 1.0rem;
   text-align: center;
   margin-top: 100px;
   
}
.Sacco video {
    width: 500px;
    border-radius: 20px;
    margin-left: 20px;
    
}
.Women img {
    width: 500px;
    float: right;
    margin-right: 20px;
    border-radius: 300px;
    
}
.Report img {
    width: 500px;
    margin-left: 20px;
    border-radius: 300px;
}
.WhatsApp img {
    width: 370px;
    float: right;
    margin-right: 20px;

}
form input {
    flex-direction: column;
    margin-bottom: 2px;
    margin-top: 15px;
    width: 500px;
    color: #333;

}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;

}
button {
    background-color: greenyellow;
    width: 80px;
    padding: 10px;
    border-radius: 20%;
}
button:hover {
    background-color: rgb(53, 192, 53);
    
}
form {
    background-image: url(images/Contact-3.png);
}